@import "../helpers/colors";
@import "../helpers/mixins";

.products {
    @include sectionStyle;
}

.productsCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.viewAllProducts {
    text-align: center;
}