@import "../helpers/colors";
@import "../helpers/mixins";

.thisMonth {
    @include sectionStyle;
}

.thisMonthHeader {
    display: flex;
    justify-content: space-between;
}

.cardContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}