@import "../helpers/colors";

.thisMonth {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 140px;
}

.thisMonthHeader {
    display: flex;
    justify-content: space-between;
}

.viewAll {
    button {
        all: unset;
        padding: 16px 48px;
        border-radius: 4px;
        background: $red;
        color: $whiteSmoke;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
}

.cardContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}