@import "../helpers/colors";

.todayContent {
    margin-top: 140px;
    margin-bottom: 80px;
}

.card {
    width: 270px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    margin-right: 10px;
    .cardImage {
        width: 100%;
        height: 250px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .cardBody {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    .cardTitle h3 {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }
    .cardPrice {
        display: flex;
        gap: 12px;
        span {
            display: inline-block;
            &:nth-child(1) {
                color: $red;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }
            &:nth-child(2) {
                color: $black;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px; /* 150% */
                text-decoration: line-through;
                opacity: 0.5;
            }
        }
    }
    .cardDiscount {
        position: absolute;
        display: inline-flex;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background-color: $red;
        top: 10px;
        left: 10px;
        color: $white;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        
    }
}

.imageSlider {
    position: relative;
}

.prev,.next {
    all: unset;
    position: absolute;
    transform: translateY(-50%);
    top: -40px;
    cursor: pointer;
    z-index: 999;
}

.prev {
    right: 60px;
}

.next {
    right: 0;
}

.viewAllproducts {
    text-align: center;
    button {
        all: unset;
        display: inline-flex;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background-color: $red;
        color: $whiteSmoke;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        margin-top: 60px;
        cursor: pointer;
        &:hover {
            opacity: .8;
        }
    }
}