@import "../helpers/colors";
@import "../helpers/mixins";

.todayContent {
    margin-top: 140px;
    @include sectionStyle;
}

.cardContainer {
    position: relative;
}

.cardDiscount {
    position: absolute;
    display: inline-flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background-color: $red;
    top: 10px;
    left: 10px;
    color: $white;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;   
}

.imageSlider {
    position: relative;
}

.prev,.next {
    all: unset;
    position: absolute;
    transform: translateY(-50%);
    top: -40px;
    cursor: pointer;
    z-index: 999;
}

.prev {
    right: 60px;
}

.next {
    right: 0;
}

.viewAllproducts {
    text-align: center;
}